.EditUserContainerAll {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editUserContainer {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Form {
  height: 100%;
  width: 50%;
}
.image {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FormEditUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.inputForm {
  height: 50px;
  width: 50%;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
.labelEdit {
  width: 50%;
  height: 60px;
  font-family: 'poppins';
  display: flex;
  align-items: flex-end;
}
.editUser {
  font-family: 'poppins';
  font-weight: 500;
}

.inputForm::placeholder {
  color: #999999;
  font-size: 18px;
  font-family: 'poppins';
  color: #999999;
}
.imgProfile {
  border-radius: 50%;
  display: flex;
  height: 250px;
  width: 250px;
  background-color: #0c0c0c;
}
.containerShowImage {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerImageProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
}
.buttonChangeProfilePicture {
  border: none;
  outline: none;
  height: 60px;
  width: 300px;
  background-color: #ffb905;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins';
  color: #fff;
  font-size: 20px;
}
.buttonChangeProfilePicture:hover {
  background-color: #b3881a;
}
.buttonChangeProfilePicture:active {
  transform: scale(0.98);
}
.buttonSaveContainer {
  height: 15%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.buttonSaveContainer > button {
  border: none;
  height: 60px;
  width: 300px;
  border-radius: 10px;
  background-color: #ffb905;
  cursor: pointer;
  font-family: 'Poppins';
  color: #fff;
  font-size: 20px;
}
.buttonSaveContainer > button:hover {
  background-color: #b3881a;
}
.buttonSaveContainer > button:active {
  transform: scale(0.98);
}
.password {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.show {
  position: absolute;
  bottom: 1%;
  right: 25%;
  height: 40%;
  border: none;
  outline: none;
  font-family: 'Poppins';
  border-radius: 5px 5px 0px 0px;
  background-color: #ffb905;
  color: #fff;
  width: 80px;
}
.show:hover {
  background-color: #b3881a;
  cursor: pointer;
}
.show:active {
  transform: scale(0.98);
}
